<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单提交</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/index.css" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="first">
            <span>一个初学者学习nodejs的提交表单界面</span><span>好好学习天天向上|坚信越努力越幸运</span>
        </div>
        <div class="">
            <!-- form中的action是用于请求的，method是请求的方法，input中的name是value值 -->
            <form action="/editstu" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="hidden" class="form-control" name="id" value="{{student.id}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">请输入你的姓名</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="姓名" name="name" value="{{student.name}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">请输入年龄</label>
                    <input type="text" class="form-control" placeholder="年龄" name="age" value="{{student.age}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">请输入职业</label>
                    <input type="text" class="form-control" placeholder="职业" name="job" value="{{student.job}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">请填写你的爱好</label>
                    <textarea class="form-control" rows="3" name="paly" value="{{student.paly}}"></textarea>
                </div>

                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>

    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>